<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/catsDogsFullList.css" />
    <title>Pet Account</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <span>
          <img src="../png/logo-no-background.png" alt="Petopia Logo" />
        </span>

        <nav>
          <ul>
            <li><a href="">Some</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="">Here</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
      
    
    <div class="outermost">
      <div class="filter">
        <form>
          <label for="Breed">Breed</label>
          <select name="Breed" id="Breed">
           <option value="a">f</option>
           <option value="b">g</option>
           <option value="c">h</option>
           <option value="d">i</option>
           <option value="f">j</option>
          </select>
          <label for="Age">Age</label>
          <select name="Age" id="Age">
            <option value="a">f</option>
            <option value="b">g</option>
            <option value="c">h</option>
            <option value="d">i</option>
            <option value="f">j</option>
           </select>
           <label for="Size">Size</label>
           <select name="Size" id="Size">
            <option value="a">f</option>
            <option value="b">g</option>
            <option value="c">h</option>
            <option value="d">i</option>
            <option value="f">j</option>
           </select>
           <label for="Color">Color</label>
           <select name="Color" id="Color">
            <option value="a">f</option>
            <option value="b">g</option>
            <option value="c">h</option>
            <option value="d">i</option>
            <option value="f">j</option>
           </select>
           <label for="Gender">Gender</label>
           <select name="Gender" id="Gender">
            <option value="a">f</option>
            <option value="b">g</option>
            <option value="c">h</option>
            <option value="d">i</option>
            <option value="f">j</option>
           </select>
           
           <button class="filterButton">filter</button>
         </form>
      </div>
<div class="pets">
    <div class="outer-container">
      <article class="card">
        <img
          src="../png/nathalie-spehner-I-Rx35qlxPU-unsplash.jpg"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4><b>sample pet</b></h4>
          <p>pet information</p>
        </div>
      </article>

      <article class="card">
        <img
          src="../png/nathalie-spehner-I-Rx35qlxPU-unsplash.jpg"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4><b>sample pet</b></h4>
          <p>pet information</p>
        </div>
      </article>
      <article class="card">
        <img
          src="../png/nathalie-spehner-I-Rx35qlxPU-unsplash.jpg"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4><b>sample pet</b></h4>
          <p>pet information</p>
        </div>
      </article>
      <article class="card">
        <img
          src="../png/nathalie-spehner-I-Rx35qlxPU-unsplash.jpg"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4><b>sample pet</b></h4>
          <p>pet information</p>
        </div>
      </article>
      <article class="card">
        <img
          src="../png/nathalie-spehner-I-Rx35qlxPU-unsplash.jpg"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4><b>sample pet</b></h4>
          <p>pet information</p>
        </div>
      </article>
      <article class="card">
        <img
          src="../png/nathalie-spehner-I-Rx35qlxPU-unsplash.jpg"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4><b>sample pet</b></h4>
          <p>pet information</p>
        </div>
      </article>
      <article class="card">
        <img
          src="../png/nathalie-spehner-I-Rx35qlxPU-unsplash.jpg"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4><b>sample pet</b></h4>
          <p>pet information</p>
        </div>
      </article>
      <article class="card">
        <img
          src="../png/nathalie-spehner-I-Rx35qlxPU-unsplash.jpg"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4><b>sample pet</b></h4>
          <p>pet information</p>
        </div>
      </article>
      <article class="card">
        <img
          src="../png/nathalie-spehner-I-Rx35qlxPU-unsplash.jpg"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="container">
          <h4><b>sample pet</b></h4>
          <p>pet information</p>
        </div>
      </article>
    </div>
  </div>
  </div>
  </body>
</html>
