<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/catsDogsFullList.css" />
    <title>Pet Account</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <span>
          <img src="../png/logo-no-background.png" alt="Petopia Logo" />
        </span>

        <nav>
          <ul>
            <li><a href="">Some</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="">Here</a></li>
          </ul>
        </nav>
      </div>
      </header>
      </body>
      </html>