<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/home.css" />
    <title>Petopia Home</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <span>
          <img src="/public/img/logo-black-no-background.png" alt="Petopia Logo" />
        </span>
        <nav>
          <ul>
            <li><a href="/">Help</a></li>
            <li><a href="/user/login">Login</a></li>
            <li>
              <a href="/user/adopter/register" id="signupbutton">Sign Up</a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="subheader">
        <h1>Who is going to be your next best friend?</h1>
        <button id="button1">ADOPT A CAT</button
        ><button id="button2">ADOPT A DOG</button>
      </div>
    </header>
  </body>
</html>
