<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/public/css/stylesheet.css"/>
    <title>Login</title>
</head>
<body>
<main>
    <div class="box">
        <h2>Login</h2>
        <br/>
        <br/>
        <form method="post" action="/user/login">
            <input type="email" id="inputs" name="email" placeholder="Email" required/>
            <input type="password" id="inputs" name="password" placeholder="Password" required/>
            <p class="forgot-password">Forgot password?</p>
            <br/>
            <br/>
            <input id="styledButton" type="submit" value="Log In"/>
            <br/>
            <br/>
            <h2 id="signup-text">Do not have an account?</h2>
            <br/>
            <br/>
            <a id="styledButton" href="/user/adopter/register">Sign up now!</a>
        </form>
    </div>
</main>
</body>
</html>
