<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/petProfile.css" />
    <title>Pet Account</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <span>
          <img src="../png/logo-no-background.png" alt="Petopia Logo" />
        </span>

        <nav>
          <ul>
            <li><a href="">Some</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="">Here</a></li>
          </ul>
        </nav>
      </div>
      <a href="#"><button class="butttonReturn">Return</button></a>
    </header>
    <div class="wrapper">
      <div class="square square1 container">
        <div class="card">
          <section class="articles ">
            <article>
              <div class="article-wrapper">
                <figure>
                  <img src="../png/logo-color.png" alt="" />
                </figure>
                <div class="article-body">
                  <h2>This is some title</h2>
                  
                  <a href="#" class="read-more">
                    Visit 
                    
                  </a>
                </div>
              </div>
            </article>
            </section>
        </div>
        <div class="card">
          <section class="articles ">
            <article>
              <div class="article-wrapper">
                <figure>
                  <img src="../png/logo-color.png" alt="" />
                </figure>
                <div class="article-body">
                  <h2>This is some title</h2>
                  
                  <a href="#" class="read-more">
                    Visit 
                    
                  </a>
                </div>
              </div>
            </article>
            </section>
        </div>
        
      </div>
      <div class="square square2">
        <div class="inner-rectangle"></div>
      </div>
      <div class="square square3">
        <div class="filters">
          <h2>Filters</h2>
          <p>Filter options go here...</p>
        </div>
        <div class="description">
          <h2>Description</h2>
          <p>Item description goes here...</p>
        </div>
      </div>
      <div class="square square4 container">
        <div class="card">
          <section class="articles ">
            <article>
              <div class="article-wrapper">
                <figure>
                  <img src="../png/logo-color.png" alt="" />
                </figure>
                <div class="article-body">
                  <h2>This is some title</h2>
                  
                  <a href="#" class="read-more">
                    Visit 
                    
                  </a>
                </div>
              </div>
            </article>
            </section>
        </div>
        <div class="card">
          <section class="articles ">
            <article>
              <div class="article-wrapper">
                <figure>
                  <img src="../png/logo-color.png" alt="" />
                </figure>
                <div class="article-body">
                  <h2>This is some title</h2>
                  
                  <a href="#" class="read-more">
                    Visit 
                    
                  </a>
                </div>
              </div>
            </article>
            </section>
        </div>
    </div>
  </body>
</html>
