<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
  </head>
  <body>
    <main>
      <div id="box1">
        <br>
        <br>
        <h2>Register</h2>
        <br>
        <br>
        <form>
          <input type="email" id="email" name="email" placeholder="Email" required>
          <input type="password" id="password" name="password"  placeholder="Password" required>  
          <br>
          <br>
          <br>
          <input type="submit" value="Log In">
          <br>
          <br>      
      </form>
    </div>
    </main>
  </body>
</html>