<!--TODO: Make this work-->

<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/reviewPage.css" />
    <title>review Page</title>
  </head>
  <main>
    <img src="/public/img/logo-no-background.png" alt="Petopia Logo" />
    <input type="button" value="Return to account" id="returnButton">
    
    <div id = "box">
        <h2 id="shelter-name">Shelter Name</h2>
        <img class="profile-pic" src="/public/img/add-photo.png" id = "profile-pic"/>
    </div>

    <div id="box1">
      <div id="white-box">
        <div class="blue-box">
          <img class="quote" src="/public/img/quotes.png" alt="Quote 1">
        </div>
        <div class="blue-box">
          <img class="quote" src="/public/img/quotes.png" alt="Quote 2">
        </div>
        <div class="blue-box">
          <img class="quote" src="/public/img/quotes.png" alt="Quote 3">
        </div>
      </div>
      <div id="white-box1">
        <div id="line"></div>
        <img id="send" src="/public/img/send.png" >
      </div>
    </div>

    </div>
    <footer>
        <nav>
          <ul class="list">
              <li><a href="#">Product</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Resources</a></li>
              <li id="petopia"><a href="#">Petopia</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Support</a></li>
          </ul> 
      </nav>
    
        <br>
        <hr> 
        <br>
        <div class="circle-container">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
      </footer>



  </main>