<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/searchPage.css" />
    <title>Search Page</title>
  </head>
  <body>
    <main>
      <img src="../png/logo-no-background.png" alt="Petopia Logo" />
      <input type="button" value="My account" id="MyaccountButton">

      <div id = "heading">
        <div id = "grey-box">

        </div>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Duis sagittis ipsum. </p>
        <p id = "grey-text">eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

      <div id = "box8">
        <p>Breed</p>
        <input type="email" class="search" name="Breed" placeholder="Breed" >
        <p>Age</p>
        <input type="email" class="search" name="Age" placeholder="Age" >
        <p>Size</p>
        <input type="email" class="search" name="Size" placeholder="Size" >
        <p>Color</p>
        <input type="email" class="search" name="Color" placeholder="Color" >
        <p>Gender</p>
        <input type="email" class="search" name="Gender" placeholder="Gender" >
        <button id="filterButton">Filter</button>
      </div>

      <div class="container">
        <div class="inner-square-top"></div>
        <div class="inner-square-top"></div>
        <div class="inner-square-top"></div>
    </div>
    <div class="container">
        <div class="inner-square-bottom">
          Pet 1
          <br>
          Lorem ipsum dolor sit amet. Ut asperiores similique qui enim consequatur nam voluptatibu
          <br>
          See more >
        </div>

        <div class="inner-square-bottom">
          Pet 2
          <br>
          Lorem ipsum dolor sit amet. Ut asperiores similique qui enim consequatur nam voluptatibu
          <br>
          See more >
        </div>

        <div class="inner-square-bottom">
          Pet 3
          <br>
          Lorem ipsum dolor sit amet. Ut asperiores similique qui enim consequatur nam voluptatibu
          <br>
          See more >
        </div>
    </div>

    <div class="container">
      <div class="inner-square-top"></div>
      <div class="inner-square-top"></div>
      <div class="inner-square-top"></div>
  </div>
  <div class="container">
      <div class="inner-square-bottom">
        Pet 4
        <br>
        Lorem ipsum dolor sit amet. Ut asperiores similique qui enim consequatur nam voluptatibu
        <br>
        See more >
      </div>
      
      <div class="inner-square-bottom">
        Pet 5
        <br>
        Lorem ipsum dolor sit amet. Ut asperiores similique qui enim consequatur nam voluptatibu
        <br>
        See more >
      </div>

      <div class="inner-square-bottom">
        Pet 6
        <br>
        Lorem ipsum dolor sit amet. Ut asperiores similique qui enim consequatur nam voluptatibu
        <br>
        See more >
      </div>

  </div>
   
      </div>
    </main>
    <footer>
      <nav>
        <ul class="list">
            <li><a href="#">Product</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Resources</a></li>
            <li id="petopia"><a href="#">Petopia</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Support</a></li>
        </ul> 
    </nav>
  
      <br>
      <hr> <!-- Horizontal line -->
      <br>
      <div class="circle-container">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
      </div>
    </footer>
  </body>
</html>
