@font-face {
  font-family: "Kufi";
  src: url("../fonts/Reem Kufi Regular.ttf")
  format("truetype");
}

body {
  background-image: url(/public/img/home-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Kufi", serif;
  margin: 0;
  padding: 0;
  background-color: #d78f00;
}

header {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

ul {
  display: flex;
}

li {
  margin-right: 40px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #272635;
}

#signupbutton,
#button1,
#button2 {
  font-family: "Kufi", serif;
  color: white;
  padding: 40px 50px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#signupbutton {
  background-color: #272635;
  padding: 10px 40px;
  border: none;
  height: 60px;
}

#button1 {
  background-color: #272635;
  margin-left: 10%;
  border: 1px solid #272635;
}

#button2 {
  background-color: transparent;
  border: 1px solid #272635;
}

#subheader {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(30%);
  font-size: 2rem;
  max-width: 600px;
  width: 70%;
}
