@font-face {
  font-family: "Kufi";
  src: url("/public/fonts/Reem Kufi Regular.ttf") format("truetype");
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  margin-top: 50px;
}

.square {
  background-color: #ffcf24;
  border: 1px solid #272635;
}

.square1 {
  grid-row: 1 / span 3;
}

.square1,
.square5 {
  grid-row: 1 / span 3;
  margin-left: 5%;
  width: 90%;
  padding-block: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.square2 {
  grid-column: 2;
  grid-row: 1;
  width: 90%;
  position: relative;
  margin-left: 5%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.square2 h1 {
  margin: 10px;
}

.square3 {
  grid-column: 2;
  grid-row: 3;
  width: 90%;
  position: relative;
  grid-gap: 20px;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.square4 {
  grid-column: 2;
  grid-row: 2;
  width: 86%;
  position: relative;
  grid-gap: 20px;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}

.square5 {
  grid-column: 3;
  margin-left: 0;
}

.filters,
.description {
  background-color: white;
  padding-left: 30px;
  height: 100%;
}

/*slideshow code reference: https://www.w3schools.com/howto/howto_js_slideshow.asp*/

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #28666e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #272635;
}

/* Fading animation slideshow */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.butttonReturn {
  margin-left: 20px;
  margin-top: 50px;
  color: white;
  background-color: #272635;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

/*wishlist button*/

#heartButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.wishlist-icon {
  display: flex;
  align-items: center;
}

.wishlist-icon i {
  font-size: 24px; /* Adjust the icon size as desired */
  color: rgb(107, 24, 107);
}

/*lateral cards*/

.card {
  border: 1px solid #272635;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  margin: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card-image img {
  max-width: 100%;
}

.card-body {
  text-align: center;
  padding: 10px;
}

.card-body h2 {
  color: #28666e;
}

.card-body a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
  margin-top: 10px;
}

.card-body a:hover {
  text-decoration: underline;
}

footer {
  grid-column: 1 / span 3;
}
