@font-face {
  font-family: "Kufi";
  src: url("/public/fonts/Reem Kufi Regular.ttf") format("truetype");
}

body {
  background-color: #af7dff;
  font-family: "Kufi";
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

#MyaccountButton {
  width: 9%;
  position: absolute;
  top: 18px;
  right: 30px;
  background-color: #272635;
  color: white;
}

#heading {
  display: flex;
  align-items: center;
  width: 100%;
  color: #272635;
  background-color: #ffcf24;
  height: 300px;
  padding: 40px 40px;
  margin: 40px 0px 40px 0px;
}

#heading-text {
  width: 60%;
  margin-left: 8%;
}

#adopt-me-box {
  border-radius: 5px;
  width: 20%;
}

#heading p {
  color: #272635;
  padding-left: 18.5%;
}

#heading h2 {
  color: #272635;
  padding-left: 18.5%;
}

#grey-text {
  color: rgb(185, 188, 190);
  font-size: 14px;
}

.search-wrapper {
  display: flex;
  margin-top: 20px;
}

#filter-box {
  display: flex;
  min-width: 250px;
  background-color: #ffcf24;
  margin-left: 40px;
  flex-direction: column;
  align-items: center;
  border: #272635 solid 1px;
}

#filter-box input {
  padding: 10px;
  border: 1px solid #61988e;
}

#filterButton {
  background-color: #272635;
  color: white;
  padding: 10px;
  margin: 30px 0px 30px 0px;
  width: 100%;
}

.parent-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  height: 400px;
  width: 190%;
  margin: 0 auto;
  transform: translate(-100%, 5%);
  right: 50%;
}

.grey-box {
  background-color: lightgray;
  height: 70%;
  width: 200%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid #ffcf24;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0px 0px 40px 40px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  max-width: 100%;
  height: 174px;
  object-fit: cover;
}

.card-description {
  padding: 20px;
  text-align: center;
  display: none;
  background-color: rgba(255, 236, 236, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .card-description {
  display: block;
  opacity: 1;
}

.card-description h4 {
  margin: 0;
}

.card-description p {
  margin: 10px 0;
}

.card-description a {
  color: #61988e;
  text-decoration: none;
  font-size: 15px;
}
