@font-face {
  font-family: "Kufi";
  src: url("/public/fonts/Reem Kufi Regular.ttf")
    format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kufi";
  background-color: #f0f0f0;
  display: flex;
  background-color: #af7dff;
  font-size: 1rem;
}

.box {
  width: 27%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffcf24;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputs {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #272635;
}

.forgot-password {
  color: #61988e;
}

#styledButton {
  color: white;
  background-color: #272635;
  border: none;
  padding: 15px 5px;
  cursor: pointer;
  width: 35%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
}
